{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <h2 class="text-center">Desempenho de Faltas e Presenças</h2>
        <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar aluno ou turma">
    </div>
    <div class="table-responsive">
        <h3 class="text-primary">Turma Matutina</h3>
        <table class="table table-hover table-bordered" id="performanceTableMatutina">
            <thead class="thead-dark">
                <tr>
                    <th>Turma</th>
                    <th>Aluno</th>
                    <th>Total de Presenças</th>
                    <th>Total de Faltas</th>
                </tr>
            </thead>
            <tbody>
                {% for item in desempenho_matutina %}
                    <tr class="bg-light">
                        <td class="turma">{{ item.turma }}</td>
                        <td class="aluno">{{ item.aluno }}</td>
                        <td>
                            <span class="badge badge-success">
                                <i class="fa fa-check"></i> {{ item.total_presencas }}
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-danger">
                                <i class="fa fa-times"></i> {{ item.total_faltas }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3 class="text-secondary mt-5">Turma Vespertina</h3>
        <table class="table table-hover table-bordered" id="performanceTableVespertina">
            <thead class="thead-dark">
                <tr>
                    <th>Turma</th>
                    <th>Aluno</th>
                    <th>Total de Presenças</th>
                    <th>Total de Faltas</th>
                </tr>
            </thead>
            <tbody>
                {% for item in desempenho_vespertina %}
                    <tr class="bg-white">
                        <td class="turma">{{ item.turma }}</td>
                        <td class="aluno">{{ item.aluno }}</td>
                        <td>
                            <span class="badge badge-success">
                                <i class="fa fa-check"></i> {{ item.total_presencas }}
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-danger">
                                <i class="fa fa-times"></i> {{ item.total_faltas }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
