{% extends 'base.html' %}

{% block content %}
<h1>Professores</h1>

<div class="card mb-3">
    <div class="card-header">
        <h2>Arthur Araújo</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Bacharelando em Música Erudita pela Universidade Federal de Uberlândia - MG</h5>
        <p class="card-text">
            Arthur Araújo iniciou seus estudos musicais em 1998 e se formou nos cursos técnicos de Teclado, Violão e Guitarra pela assessoria musical TKT de São Paulo. Desde 2008, ele vem lecionando música, compartilhando sua paixão e conhecimento com diversos alunos. Em 2017, ele ingressou na Universidade Federal de Uberlândia - MG, onde está cursando Licenciatura e Bacharelado em Música Erudita.
        </p>
        <p class="card-text">
            Além de sua carreira na música, Arthur é um entusiasta da tecnologia, especializando-se em Desenvolvimento de Sistemas e Análise de Dados em parceria com a empresa Empower Data - RJ. Esta combinação de habilidades lhe permite integrar conceitos de música e tecnologia, proporcionando uma abordagem educativa inovadora e abrangente.
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h2>Lucas Silva</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Professor de Dança</h5>
        <p class="card-text">
            Lucas Silva é um talentoso dançarino com mais de 15 anos de experiência em diversas modalidades de dança, incluindo ballet, jazz, hip hop e dança contemporânea. Ele formou-se em Dança pela Escola de Dança de São Paulo e desde então tem dedicado sua carreira ao ensino e à coreografia. Lucas é conhecido por sua abordagem criativa e dinâmica, sempre buscando inspirar seus alunos a alcançar seu máximo potencial artístico.
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h2>Ana Pereira</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Professora de Pintura</h5>
        <p class="card-text">
            Ana Pereira é uma artista plástica renomada com especialização em pintura a óleo e aquarela. Formada pela Escola de Belas Artes do Rio de Janeiro, Ana tem mais de 20 anos de experiência no campo das artes visuais. Ela já realizou diversas exposições individuais e coletivas, tanto no Brasil quanto no exterior. Como professora, Ana é apaixonada por compartilhar suas técnicas e experiências, ajudando seus alunos a desenvolverem suas habilidades artísticas e expressarem sua criatividade.
        </p>
    </div>
</div>

{% endblock %}
